<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.zloserver.vpn.network-extension</key>
		<string>ZloVPN network extension distribution</string>
		<key>com.zloserver.vpn</key>
		<string>ZloVPN distribution</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store-connect</string>
</dict>
</plist>
